<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="registry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">
        <property name="port" value="8100"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="ControlService"/>
        <property name="service" ref="controlService"/>
        <property name="serviceInterface"
                  value="com.vastsum.server.ControlService" />
        <property name="registry" ref="registry"/>
        <!--<property name="registryHost" value="localhost"/>-->
    </bean>

</beans>