# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings
.project




vastsum-core/target
vastsum-core/.apt_generated
vastsum-core/.settings
vastsum-core/.classpath
vastsum-core/.factorypath
vastsum-core/.project
vastsum-core/.springBeans


vastsum-schedule/target
vastsum-schedule/.apt_generated
vastsum-schedule/.settings
vastsum-schedule/.classpath
vastsum-schedule/.factorypath
vastsum-schedule/.project
vastsum-schedule/.springBeans

vastsum-social/target
vastsum-social/.apt_generated
vastsum-social/.settings
vastsum-social/.classpath
vastsum-social/.factorypath
vastsum-social/.project
vastsum-social/.springBeans

weifactory-images/target
weifactory-images/.apt_generated
weifactory-images/.settings
weifactory-images/.classpath
weifactory-images/.factorypath
weifactory-images/.project
weifactory-images/.springBeans
weifactory-images/logs

weifactory-communication/target
weifactory-communication/.apt_generated
weifactory-communication/.settings
weifactory-communication/.classpath
weifactory-communication/.factorypath
weifactory-communication/.project
weifactory-communication/.springBeans
weifactory-communication/logs

weifactory-browser/target
weifactory-browser/.apt_generated
weifactory-browser/.settings
weifactory-browser/.classpath
weifactory-browser/.factorypath
weifactory-browser/.project
weifactory-browser/.springBeans

weifactory-pay/target
weifactory-pay/.apt_generated
weifactory-pay/.settings
weifactory-pay/.classpath
weifactory-pay/.factorypath
weifactory-pay/.project
weifactory-pay/.springBeans
