<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<!--引入属性文件-->
	<properties resource="db.properties"></properties>
	<classPathEntry
			location="/Users/shutu008/eclipse-workspace/weifactory-workspace/weifactory-2.0/doc/mysql-connector-java-5.1.6.jar" />
	<context id="testTables" targetRuntime="MyBatis3">
		<!-- 生成的Java文件的编码 -->
		<property name="javaFileEncoding" value="UTF-8"/>
		<!--生成tostring-->
		<plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
		<commentGenerator>
			<!-- 是否去除自动生成的注释 true：是 ： false:否 -->
			<property name="suppressAllComments" value="true" />
		</commentGenerator>
		<!--数据库连接的信息：驱动类、连接地址、用户名、密码 -->
		<jdbcConnection driverClass="${spring.datasource.driver-class-name}"
			connectionURL="${spring.datasource.url}" 
			userId="${spring.datasource.username}"
			password="${spring.datasource.password}">
		</jdbcConnection>
		<!-- 默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer，为 true时把JDBC DECIMAL 和 
			NUMERIC 类型解析为java.math.BigDecimal -->
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!-- targetProject:生成PO类的位置 -->
		<javaModelGenerator targetPackage="com.vastsum.entity"
			targetProject="src/main/java">
			<!-- enableSubPackages:是否让schema作为包的后缀 -->
			<property name="enableSubPackages" value="false" />
			<!-- 从数据库返回的值被清理前后的空格 -->
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
        <!-- targetProject:mapper映射文件生成的位置 -->
		<sqlMapGenerator targetPackage="com.vastsum.dao"
			targetProject="src/main/resources">
			<!-- enableSubPackages:是否让schema作为包的后缀 -->
			<property name="enableSubPackages" value="false" />
		</sqlMapGenerator>
		<!-- targetPackage：mapper接口(dao)生成的位置 -->
		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.vastsum.dao"
			targetProject="src/main/java">
			<!-- enableSubPackages:是否让schema作为包的后缀 -->
			<property name="enableSubPackages" value="false" />
		</javaClientGenerator>
		<!-- 指定数据库表 -->
		<!--<table schema="" tableName="comment"></table>

		
		<table schema="" tableName="experiment"></table>
		<table schema="" tableName="experiment_setting"></table>
		<table schema="" tableName="humidity"></table>

		<table schema="" tableName="mechanism"></table>
		<table schema="" tableName="post"></table>
		<table schema="" tableName="role"></table>
		<table schema="" tableName="sensor"></table>
		<table schema="" tableName="temperature"></table>

		<table schema="" tableName="user_role" ></table>
		<table schema="" tableName="sys_dictionary" ></table>
		<table tableName="sys_menu"></table>
		<table tableName="sys_role_menu"></table>
		-->
		<!-- <table tableName="user"></table>  -->
		<!--<table schema="" tableName="device"></table>
		<table schema="" tableName="sensor"></table>

		<table tableName="threshold"></table>-->
		<!--<table tableName="biz_exception"></table>-->
		<!--<table tableName="device_sn"></table>-->
		<!--<table tableName="sensor_collection"></table>-->
		<!--<table schema="" tableName="sensor"></table>-->
		<!--<table tableName="biz_order">
			<generatedKey column="order_id" sqlStatement="MySql" identity="true"/>
		</table>-->
		<!--<table tableName="model"></table>-->
		<!--<table tableName="sys_dict"></table>
		<table tableName="sys_dict_item"></table>-->
		<!--<table schema="" tableName="image"></table>-->
		<!--<table schema="" tableName="biz_control"></table>-->
		<!-- <table tableName="seed"></table>
		<table tableName="organization"></table>
		
		<table tableName="b_sys_param"></table>
		 -->
		
		<!-- <table tableName="image"></table> -->
		<!-- <table tableName="history_info"></table> -->
		<!--<table tableName="communication_log"></table>-->
		<!-- <table tableName="sys_param"></table> -->
		<!-- <table schema="" tableName="device"></table> -->
		<!-- 
		<table tableName="plant_info"></table> -->
		<!-- <table tableName="param_set"></table> -->
		<!-- <table tableName="hand_control"></table> -->
		<!-- <table tableName="batch"></table> -->
		<!-- <table tableName="batch"></table> -->
		<!-- <table tableName="hand_control"></table>  -->
		<!-- <table schema="" tableName="device"></table> -->
		<!-- <table tableName="growth_pattern_param"></table>
		<table tableName="history_data"></table>-->
		<!-- <table tableName="param_set"></table>  -->
		<table tableName="feed_param_set"></table>
		<!-- <table tableName="device">
			<generatedKey column="device_id" sqlStatement="MySql" identity="true"/>
		</table> -->
	</context>
</generatorConfiguration>
