<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vastsum.dao.FeedParamSetMapper">
  <resultMap id="BaseResultMap" type="com.vastsum.entity.FeedParamSet">
    <id column="feed_param_id" jdbcType="BIGINT" property="feedParamId" />
    <result column="plant_id" jdbcType="VARCHAR" property="plantId" />
    <result column="day_feed_bg_length" jdbcType="INTEGER" property="dayFeedBgLength" />
    <result column="day_feed_bg_interval" jdbcType="INTEGER" property="dayFeedBgInterval" />
    <result column="night_feed_bg_length" jdbcType="INTEGER" property="nightFeedBgLength" />
    <result column="night_feed_bg_interval" jdbcType="INTEGER" property="nightFeedBgInterval" />
    <result column="day_feed_water_length" jdbcType="INTEGER" property="dayFeedWaterLength" />
    <result column="day_feed_water_interval" jdbcType="INTEGER" property="dayFeedWaterInterval" />
    <result column="night_feed_water_length" jdbcType="INTEGER" property="nightFeedWaterLength" />
    <result column="night_feed_water_interval" jdbcType="INTEGER" property="nightFeedWaterInterval" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    feed_param_id, plant_id, day_feed_bg_length, day_feed_bg_interval, night_feed_bg_length, 
    night_feed_bg_interval, day_feed_water_length, day_feed_water_interval, night_feed_water_length, 
    night_feed_water_interval, status, gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.vastsum.entity.FeedParamSetExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from feed_param_set
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from feed_param_set
    where feed_param_id = #{feedParamId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from feed_param_set
    where feed_param_id = #{feedParamId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.vastsum.entity.FeedParamSetExample">
    delete from feed_param_set
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vastsum.entity.FeedParamSet">
    insert into feed_param_set (feed_param_id, plant_id, day_feed_bg_length, 
      day_feed_bg_interval, night_feed_bg_length, night_feed_bg_interval, 
      day_feed_water_length, day_feed_water_interval, 
      night_feed_water_length, night_feed_water_interval, 
      status, gmt_create, gmt_modified
      )
    values (#{feedParamId,jdbcType=BIGINT}, #{plantId,jdbcType=VARCHAR}, #{dayFeedBgLength,jdbcType=INTEGER}, 
      #{dayFeedBgInterval,jdbcType=INTEGER}, #{nightFeedBgLength,jdbcType=INTEGER}, #{nightFeedBgInterval,jdbcType=INTEGER}, 
      #{dayFeedWaterLength,jdbcType=INTEGER}, #{dayFeedWaterInterval,jdbcType=INTEGER}, 
      #{nightFeedWaterLength,jdbcType=INTEGER}, #{nightFeedWaterInterval,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vastsum.entity.FeedParamSet">
    insert into feed_param_set
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="feedParamId != null">
        feed_param_id,
      </if>
      <if test="plantId != null">
        plant_id,
      </if>
      <if test="dayFeedBgLength != null">
        day_feed_bg_length,
      </if>
      <if test="dayFeedBgInterval != null">
        day_feed_bg_interval,
      </if>
      <if test="nightFeedBgLength != null">
        night_feed_bg_length,
      </if>
      <if test="nightFeedBgInterval != null">
        night_feed_bg_interval,
      </if>
      <if test="dayFeedWaterLength != null">
        day_feed_water_length,
      </if>
      <if test="dayFeedWaterInterval != null">
        day_feed_water_interval,
      </if>
      <if test="nightFeedWaterLength != null">
        night_feed_water_length,
      </if>
      <if test="nightFeedWaterInterval != null">
        night_feed_water_interval,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="feedParamId != null">
        #{feedParamId,jdbcType=BIGINT},
      </if>
      <if test="plantId != null">
        #{plantId,jdbcType=VARCHAR},
      </if>
      <if test="dayFeedBgLength != null">
        #{dayFeedBgLength,jdbcType=INTEGER},
      </if>
      <if test="dayFeedBgInterval != null">
        #{dayFeedBgInterval,jdbcType=INTEGER},
      </if>
      <if test="nightFeedBgLength != null">
        #{nightFeedBgLength,jdbcType=INTEGER},
      </if>
      <if test="nightFeedBgInterval != null">
        #{nightFeedBgInterval,jdbcType=INTEGER},
      </if>
      <if test="dayFeedWaterLength != null">
        #{dayFeedWaterLength,jdbcType=INTEGER},
      </if>
      <if test="dayFeedWaterInterval != null">
        #{dayFeedWaterInterval,jdbcType=INTEGER},
      </if>
      <if test="nightFeedWaterLength != null">
        #{nightFeedWaterLength,jdbcType=INTEGER},
      </if>
      <if test="nightFeedWaterInterval != null">
        #{nightFeedWaterInterval,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vastsum.entity.FeedParamSetExample" resultType="java.lang.Long">
    select count(*) from feed_param_set
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update feed_param_set
    <set>
      <if test="record.feedParamId != null">
        feed_param_id = #{record.feedParamId,jdbcType=BIGINT},
      </if>
      <if test="record.plantId != null">
        plant_id = #{record.plantId,jdbcType=VARCHAR},
      </if>
      <if test="record.dayFeedBgLength != null">
        day_feed_bg_length = #{record.dayFeedBgLength,jdbcType=INTEGER},
      </if>
      <if test="record.dayFeedBgInterval != null">
        day_feed_bg_interval = #{record.dayFeedBgInterval,jdbcType=INTEGER},
      </if>
      <if test="record.nightFeedBgLength != null">
        night_feed_bg_length = #{record.nightFeedBgLength,jdbcType=INTEGER},
      </if>
      <if test="record.nightFeedBgInterval != null">
        night_feed_bg_interval = #{record.nightFeedBgInterval,jdbcType=INTEGER},
      </if>
      <if test="record.dayFeedWaterLength != null">
        day_feed_water_length = #{record.dayFeedWaterLength,jdbcType=INTEGER},
      </if>
      <if test="record.dayFeedWaterInterval != null">
        day_feed_water_interval = #{record.dayFeedWaterInterval,jdbcType=INTEGER},
      </if>
      <if test="record.nightFeedWaterLength != null">
        night_feed_water_length = #{record.nightFeedWaterLength,jdbcType=INTEGER},
      </if>
      <if test="record.nightFeedWaterInterval != null">
        night_feed_water_interval = #{record.nightFeedWaterInterval,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update feed_param_set
    set feed_param_id = #{record.feedParamId,jdbcType=BIGINT},
      plant_id = #{record.plantId,jdbcType=VARCHAR},
      day_feed_bg_length = #{record.dayFeedBgLength,jdbcType=INTEGER},
      day_feed_bg_interval = #{record.dayFeedBgInterval,jdbcType=INTEGER},
      night_feed_bg_length = #{record.nightFeedBgLength,jdbcType=INTEGER},
      night_feed_bg_interval = #{record.nightFeedBgInterval,jdbcType=INTEGER},
      day_feed_water_length = #{record.dayFeedWaterLength,jdbcType=INTEGER},
      day_feed_water_interval = #{record.dayFeedWaterInterval,jdbcType=INTEGER},
      night_feed_water_length = #{record.nightFeedWaterLength,jdbcType=INTEGER},
      night_feed_water_interval = #{record.nightFeedWaterInterval,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vastsum.entity.FeedParamSet">
    update feed_param_set
    <set>
      <if test="plantId != null">
        plant_id = #{plantId,jdbcType=VARCHAR},
      </if>
      <if test="dayFeedBgLength != null">
        day_feed_bg_length = #{dayFeedBgLength,jdbcType=INTEGER},
      </if>
      <if test="dayFeedBgInterval != null">
        day_feed_bg_interval = #{dayFeedBgInterval,jdbcType=INTEGER},
      </if>
      <if test="nightFeedBgLength != null">
        night_feed_bg_length = #{nightFeedBgLength,jdbcType=INTEGER},
      </if>
      <if test="nightFeedBgInterval != null">
        night_feed_bg_interval = #{nightFeedBgInterval,jdbcType=INTEGER},
      </if>
      <if test="dayFeedWaterLength != null">
        day_feed_water_length = #{dayFeedWaterLength,jdbcType=INTEGER},
      </if>
      <if test="dayFeedWaterInterval != null">
        day_feed_water_interval = #{dayFeedWaterInterval,jdbcType=INTEGER},
      </if>
      <if test="nightFeedWaterLength != null">
        night_feed_water_length = #{nightFeedWaterLength,jdbcType=INTEGER},
      </if>
      <if test="nightFeedWaterInterval != null">
        night_feed_water_interval = #{nightFeedWaterInterval,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where feed_param_id = #{feedParamId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vastsum.entity.FeedParamSet">
    update feed_param_set
    set plant_id = #{plantId,jdbcType=VARCHAR},
      day_feed_bg_length = #{dayFeedBgLength,jdbcType=INTEGER},
      day_feed_bg_interval = #{dayFeedBgInterval,jdbcType=INTEGER},
      night_feed_bg_length = #{nightFeedBgLength,jdbcType=INTEGER},
      night_feed_bg_interval = #{nightFeedBgInterval,jdbcType=INTEGER},
      day_feed_water_length = #{dayFeedWaterLength,jdbcType=INTEGER},
      day_feed_water_interval = #{dayFeedWaterInterval,jdbcType=INTEGER},
      night_feed_water_length = #{nightFeedWaterLength,jdbcType=INTEGER},
      night_feed_water_interval = #{nightFeedWaterInterval,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where feed_param_id = #{feedParamId,jdbcType=BIGINT}
  </update>
</mapper>