<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<!--引入属性文件-->
	<!-- <properties resource="application.properties"></properties> -->
	<classPathEntry
			location="/Users/shutu008/eclipse-workspace/weifactory-workspace/weifactory-2.0/doc/mysql-connector-java-5.1.6.jar" />
	<context id="testTables" targetRuntime="MyBatis3">
		<!-- 生成的Java文件的编码 -->
		<property name="javaFileEncoding" value="UTF-8"/>
		<!--生成tostring-->
		<plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
		<commentGenerator>
			<!-- 是否去除自动生成的注释 true：是 ： false:否 -->
			<property name="suppressAllComments" value="true" />
		</commentGenerator>
		<!--数据库连接的信息：驱动类、连接地址、用户名、密码 -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver" 
			 connectionURL="weifactory?useUnicode=true"
			userId="root"
			password="">
		</jdbcConnection>
		<!-- 默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer，为 true时把JDBC DECIMAL 和 
			NUMERIC 类型解析为java.math.BigDecimal -->
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!-- targetProject:生成PO类的位置 -->
		<javaModelGenerator targetPackage="com.vastsum.schedule.entity"
			targetProject="src/main/java">
			<!-- enableSubPackages:是否让schema作为包的后缀 -->
			<property name="enableSubPackages" value="false" />
			<!-- 从数据库返回的值被清理前后的空格 -->
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
        <!-- targetProject:mapper映射文件生成的位置 -->
		<sqlMapGenerator targetPackage="com.vastsum.schedule.dao"
			targetProject="src/main/resources">
			<!-- enableSubPackages:是否让schema作为包的后缀 -->
			<property name="enableSubPackages" value="false" />
		</sqlMapGenerator>
		<!-- targetPackage：mapper接口(dao)生成的位置 -->
		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.vastsum.schedule.dao"
			targetProject="src/main/java">
			<!-- enableSubPackages:是否让schema作为包的后缀 -->
			<property name="enableSubPackages" value="false" />
		</javaClientGenerator>
		<!-- 指定数据库表 -->
		<table schema="" tableName="schedule_job_entity">
			<generatedKey column="job_id" sqlStatement="MySql" identity="true"/>
		</table>
		<table schema="" tableName="schedule_job_log">
			<generatedKey column="log_id" sqlStatement="MySql" identity="true"/>
		</table>
	</context>
</generatorConfiguration>
