<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vastsum.dao.ExperimentMapper">
  <resultMap id="BaseResultMap" type="com.vastsum.entity.Experiment">
    <id column="experiment_id" jdbcType="INTEGER" property="experimentId" />
    <result column="device_id" jdbcType="INTEGER" property="deviceId" />
    <result column="crop_name_1" jdbcType="VARCHAR" property="cropName1" />
    <result column="plant_time_1" jdbcType="TIMESTAMP" property="plantTime1" />
    <result column="harvest_time_1" jdbcType="TIMESTAMP" property="harvestTime1" />
    <result column="plant_number_1" jdbcType="INTEGER" property="plantNumber1" />
    <result column="leave_number_1" jdbcType="INTEGER" property="leaveNumber1" />
    <result column="control_model_1" jdbcType="INTEGER" property="controlModel1" />
    <result column="crop_name_2" jdbcType="VARCHAR" property="cropName2" />
    <result column="plant_time_2" jdbcType="TIMESTAMP" property="plantTime2" />
    <result column="harvest_time_2" jdbcType="TIMESTAMP" property="harvestTime2" />
    <result column="plant_number_2" jdbcType="INTEGER" property="plantNumber2" />
    <result column="leave_number_2" jdbcType="INTEGER" property="leaveNumber2" />
    <result column="control_model_2" jdbcType="INTEGER" property="controlModel2" />
    <result column="crop_name_3" jdbcType="VARCHAR" property="cropName3" />
    <result column="plant_time_3" jdbcType="TIMESTAMP" property="plantTime3" />
    <result column="harvest_time_3" jdbcType="TIMESTAMP" property="harvestTime3" />
    <result column="plant_number_3" jdbcType="INTEGER" property="plantNumber3" />
    <result column="leave_number_3" jdbcType="INTEGER" property="leaveNumber3" />
    <result column="control_model_3" jdbcType="INTEGER" property="controlModel3" />
    <result column="seeding_name" jdbcType="VARCHAR" property="seedingName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    experiment_id, device_id, crop_name_1, plant_time_1, harvest_time_1, plant_number_1, 
    leave_number_1, control_model_1, crop_name_2, plant_time_2, harvest_time_2, plant_number_2, 
    leave_number_2, control_model_2, crop_name_3, plant_time_3, harvest_time_3, plant_number_3, 
    leave_number_3, control_model_3, seeding_name, gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.vastsum.entity.ExperimentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from experiment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from experiment
    where experiment_id = #{experimentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from experiment
    where experiment_id = #{experimentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.vastsum.entity.ExperimentExample">
    delete from experiment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vastsum.entity.Experiment">
    insert into experiment (experiment_id, device_id, crop_name_1, 
      plant_time_1, harvest_time_1, plant_number_1, 
      leave_number_1, control_model_1, crop_name_2, 
      plant_time_2, harvest_time_2, plant_number_2, 
      leave_number_2, control_model_2, crop_name_3, 
      plant_time_3, harvest_time_3, plant_number_3, 
      leave_number_3, control_model_3, seeding_name, 
      gmt_create, gmt_modified)
    values (#{experimentId,jdbcType=INTEGER}, #{deviceId,jdbcType=INTEGER}, #{cropName1,jdbcType=VARCHAR}, 
      #{plantTime1,jdbcType=TIMESTAMP}, #{harvestTime1,jdbcType=TIMESTAMP}, #{plantNumber1,jdbcType=INTEGER}, 
      #{leaveNumber1,jdbcType=INTEGER}, #{controlModel1,jdbcType=INTEGER}, #{cropName2,jdbcType=VARCHAR}, 
      #{plantTime2,jdbcType=TIMESTAMP}, #{harvestTime2,jdbcType=TIMESTAMP}, #{plantNumber2,jdbcType=INTEGER}, 
      #{leaveNumber2,jdbcType=INTEGER}, #{controlModel2,jdbcType=INTEGER}, #{cropName3,jdbcType=VARCHAR}, 
      #{plantTime3,jdbcType=TIMESTAMP}, #{harvestTime3,jdbcType=TIMESTAMP}, #{plantNumber3,jdbcType=INTEGER}, 
      #{leaveNumber3,jdbcType=INTEGER}, #{controlModel3,jdbcType=INTEGER}, #{seedingName,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.vastsum.entity.Experiment">
    insert into experiment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="experimentId != null">
        experiment_id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="cropName1 != null">
        crop_name_1,
      </if>
      <if test="plantTime1 != null">
        plant_time_1,
      </if>
      <if test="harvestTime1 != null">
        harvest_time_1,
      </if>
      <if test="plantNumber1 != null">
        plant_number_1,
      </if>
      <if test="leaveNumber1 != null">
        leave_number_1,
      </if>
      <if test="controlModel1 != null">
        control_model_1,
      </if>
      <if test="cropName2 != null">
        crop_name_2,
      </if>
      <if test="plantTime2 != null">
        plant_time_2,
      </if>
      <if test="harvestTime2 != null">
        harvest_time_2,
      </if>
      <if test="plantNumber2 != null">
        plant_number_2,
      </if>
      <if test="leaveNumber2 != null">
        leave_number_2,
      </if>
      <if test="controlModel2 != null">
        control_model_2,
      </if>
      <if test="cropName3 != null">
        crop_name_3,
      </if>
      <if test="plantTime3 != null">
        plant_time_3,
      </if>
      <if test="harvestTime3 != null">
        harvest_time_3,
      </if>
      <if test="plantNumber3 != null">
        plant_number_3,
      </if>
      <if test="leaveNumber3 != null">
        leave_number_3,
      </if>
      <if test="controlModel3 != null">
        control_model_3,
      </if>
      <if test="seedingName != null">
        seeding_name,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="experimentId != null">
        #{experimentId,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="cropName1 != null">
        #{cropName1,jdbcType=VARCHAR},
      </if>
      <if test="plantTime1 != null">
        #{plantTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="harvestTime1 != null">
        #{harvestTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="plantNumber1 != null">
        #{plantNumber1,jdbcType=INTEGER},
      </if>
      <if test="leaveNumber1 != null">
        #{leaveNumber1,jdbcType=INTEGER},
      </if>
      <if test="controlModel1 != null">
        #{controlModel1,jdbcType=INTEGER},
      </if>
      <if test="cropName2 != null">
        #{cropName2,jdbcType=VARCHAR},
      </if>
      <if test="plantTime2 != null">
        #{plantTime2,jdbcType=TIMESTAMP},
      </if>
      <if test="harvestTime2 != null">
        #{harvestTime2,jdbcType=TIMESTAMP},
      </if>
      <if test="plantNumber2 != null">
        #{plantNumber2,jdbcType=INTEGER},
      </if>
      <if test="leaveNumber2 != null">
        #{leaveNumber2,jdbcType=INTEGER},
      </if>
      <if test="controlModel2 != null">
        #{controlModel2,jdbcType=INTEGER},
      </if>
      <if test="cropName3 != null">
        #{cropName3,jdbcType=VARCHAR},
      </if>
      <if test="plantTime3 != null">
        #{plantTime3,jdbcType=TIMESTAMP},
      </if>
      <if test="harvestTime3 != null">
        #{harvestTime3,jdbcType=TIMESTAMP},
      </if>
      <if test="plantNumber3 != null">
        #{plantNumber3,jdbcType=INTEGER},
      </if>
      <if test="leaveNumber3 != null">
        #{leaveNumber3,jdbcType=INTEGER},
      </if>
      <if test="controlModel3 != null">
        #{controlModel3,jdbcType=INTEGER},
      </if>
      <if test="seedingName != null">
        #{seedingName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vastsum.entity.ExperimentExample" resultType="java.lang.Long">
    select count(*) from experiment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update experiment
    <set>
      <if test="record.experimentId != null">
        experiment_id = #{record.experimentId,jdbcType=INTEGER},
      </if>
      <if test="record.deviceId != null">
        device_id = #{record.deviceId,jdbcType=INTEGER},
      </if>
      <if test="record.cropName1 != null">
        crop_name_1 = #{record.cropName1,jdbcType=VARCHAR},
      </if>
      <if test="record.plantTime1 != null">
        plant_time_1 = #{record.plantTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="record.harvestTime1 != null">
        harvest_time_1 = #{record.harvestTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="record.plantNumber1 != null">
        plant_number_1 = #{record.plantNumber1,jdbcType=INTEGER},
      </if>
      <if test="record.leaveNumber1 != null">
        leave_number_1 = #{record.leaveNumber1,jdbcType=INTEGER},
      </if>
      <if test="record.controlModel1 != null">
        control_model_1 = #{record.controlModel1,jdbcType=INTEGER},
      </if>
      <if test="record.cropName2 != null">
        crop_name_2 = #{record.cropName2,jdbcType=VARCHAR},
      </if>
      <if test="record.plantTime2 != null">
        plant_time_2 = #{record.plantTime2,jdbcType=TIMESTAMP},
      </if>
      <if test="record.harvestTime2 != null">
        harvest_time_2 = #{record.harvestTime2,jdbcType=TIMESTAMP},
      </if>
      <if test="record.plantNumber2 != null">
        plant_number_2 = #{record.plantNumber2,jdbcType=INTEGER},
      </if>
      <if test="record.leaveNumber2 != null">
        leave_number_2 = #{record.leaveNumber2,jdbcType=INTEGER},
      </if>
      <if test="record.controlModel2 != null">
        control_model_2 = #{record.controlModel2,jdbcType=INTEGER},
      </if>
      <if test="record.cropName3 != null">
        crop_name_3 = #{record.cropName3,jdbcType=VARCHAR},
      </if>
      <if test="record.plantTime3 != null">
        plant_time_3 = #{record.plantTime3,jdbcType=TIMESTAMP},
      </if>
      <if test="record.harvestTime3 != null">
        harvest_time_3 = #{record.harvestTime3,jdbcType=TIMESTAMP},
      </if>
      <if test="record.plantNumber3 != null">
        plant_number_3 = #{record.plantNumber3,jdbcType=INTEGER},
      </if>
      <if test="record.leaveNumber3 != null">
        leave_number_3 = #{record.leaveNumber3,jdbcType=INTEGER},
      </if>
      <if test="record.controlModel3 != null">
        control_model_3 = #{record.controlModel3,jdbcType=INTEGER},
      </if>
      <if test="record.seedingName != null">
        seeding_name = #{record.seedingName,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update experiment
    set experiment_id = #{record.experimentId,jdbcType=INTEGER},
      device_id = #{record.deviceId,jdbcType=INTEGER},
      crop_name_1 = #{record.cropName1,jdbcType=VARCHAR},
      plant_time_1 = #{record.plantTime1,jdbcType=TIMESTAMP},
      harvest_time_1 = #{record.harvestTime1,jdbcType=TIMESTAMP},
      plant_number_1 = #{record.plantNumber1,jdbcType=INTEGER},
      leave_number_1 = #{record.leaveNumber1,jdbcType=INTEGER},
      control_model_1 = #{record.controlModel1,jdbcType=INTEGER},
      crop_name_2 = #{record.cropName2,jdbcType=VARCHAR},
      plant_time_2 = #{record.plantTime2,jdbcType=TIMESTAMP},
      harvest_time_2 = #{record.harvestTime2,jdbcType=TIMESTAMP},
      plant_number_2 = #{record.plantNumber2,jdbcType=INTEGER},
      leave_number_2 = #{record.leaveNumber2,jdbcType=INTEGER},
      control_model_2 = #{record.controlModel2,jdbcType=INTEGER},
      crop_name_3 = #{record.cropName3,jdbcType=VARCHAR},
      plant_time_3 = #{record.plantTime3,jdbcType=TIMESTAMP},
      harvest_time_3 = #{record.harvestTime3,jdbcType=TIMESTAMP},
      plant_number_3 = #{record.plantNumber3,jdbcType=INTEGER},
      leave_number_3 = #{record.leaveNumber3,jdbcType=INTEGER},
      control_model_3 = #{record.controlModel3,jdbcType=INTEGER},
      seeding_name = #{record.seedingName,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vastsum.entity.Experiment">
    update experiment
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="cropName1 != null">
        crop_name_1 = #{cropName1,jdbcType=VARCHAR},
      </if>
      <if test="plantTime1 != null">
        plant_time_1 = #{plantTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="harvestTime1 != null">
        harvest_time_1 = #{harvestTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="plantNumber1 != null">
        plant_number_1 = #{plantNumber1,jdbcType=INTEGER},
      </if>
      <if test="leaveNumber1 != null">
        leave_number_1 = #{leaveNumber1,jdbcType=INTEGER},
      </if>
      <if test="controlModel1 != null">
        control_model_1 = #{controlModel1,jdbcType=INTEGER},
      </if>
      <if test="cropName2 != null">
        crop_name_2 = #{cropName2,jdbcType=VARCHAR},
      </if>
      <if test="plantTime2 != null">
        plant_time_2 = #{plantTime2,jdbcType=TIMESTAMP},
      </if>
      <if test="harvestTime2 != null">
        harvest_time_2 = #{harvestTime2,jdbcType=TIMESTAMP},
      </if>
      <if test="plantNumber2 != null">
        plant_number_2 = #{plantNumber2,jdbcType=INTEGER},
      </if>
      <if test="leaveNumber2 != null">
        leave_number_2 = #{leaveNumber2,jdbcType=INTEGER},
      </if>
      <if test="controlModel2 != null">
        control_model_2 = #{controlModel2,jdbcType=INTEGER},
      </if>
      <if test="cropName3 != null">
        crop_name_3 = #{cropName3,jdbcType=VARCHAR},
      </if>
      <if test="plantTime3 != null">
        plant_time_3 = #{plantTime3,jdbcType=TIMESTAMP},
      </if>
      <if test="harvestTime3 != null">
        harvest_time_3 = #{harvestTime3,jdbcType=TIMESTAMP},
      </if>
      <if test="plantNumber3 != null">
        plant_number_3 = #{plantNumber3,jdbcType=INTEGER},
      </if>
      <if test="leaveNumber3 != null">
        leave_number_3 = #{leaveNumber3,jdbcType=INTEGER},
      </if>
      <if test="controlModel3 != null">
        control_model_3 = #{controlModel3,jdbcType=INTEGER},
      </if>
      <if test="seedingName != null">
        seeding_name = #{seedingName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where experiment_id = #{experimentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vastsum.entity.Experiment">
    update experiment
    set device_id = #{deviceId,jdbcType=INTEGER},
      crop_name_1 = #{cropName1,jdbcType=VARCHAR},
      plant_time_1 = #{plantTime1,jdbcType=TIMESTAMP},
      harvest_time_1 = #{harvestTime1,jdbcType=TIMESTAMP},
      plant_number_1 = #{plantNumber1,jdbcType=INTEGER},
      leave_number_1 = #{leaveNumber1,jdbcType=INTEGER},
      control_model_1 = #{controlModel1,jdbcType=INTEGER},
      crop_name_2 = #{cropName2,jdbcType=VARCHAR},
      plant_time_2 = #{plantTime2,jdbcType=TIMESTAMP},
      harvest_time_2 = #{harvestTime2,jdbcType=TIMESTAMP},
      plant_number_2 = #{plantNumber2,jdbcType=INTEGER},
      leave_number_2 = #{leaveNumber2,jdbcType=INTEGER},
      control_model_2 = #{controlModel2,jdbcType=INTEGER},
      crop_name_3 = #{cropName3,jdbcType=VARCHAR},
      plant_time_3 = #{plantTime3,jdbcType=TIMESTAMP},
      harvest_time_3 = #{harvestTime3,jdbcType=TIMESTAMP},
      plant_number_3 = #{plantNumber3,jdbcType=INTEGER},
      leave_number_3 = #{leaveNumber3,jdbcType=INTEGER},
      control_model_3 = #{controlModel3,jdbcType=INTEGER},
      seeding_name = #{seedingName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where experiment_id = #{experimentId,jdbcType=INTEGER}
  </update>
</mapper>