<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vastsum.dao.HandControlMapper">
  <resultMap id="BaseResultMap" type="com.vastsum.entity.HandControl">
    <id column="hand_control_id" jdbcType="BIGINT" property="handControlId" />
    <result column="head_control_mod" jdbcType="VARCHAR" property="headControlMod" />
    <result column="wd1" jdbcType="VARCHAR" property="wd1" />
    <result column="kqxh1" jdbcType="VARCHAR" property="kqxh1" />
    <result column="kqxd1" jdbcType="VARCHAR" property="kqxd1" />
    <result column="hxf1" jdbcType="VARCHAR" property="hxf1" />
    <result column="syyy1" jdbcType="VARCHAR" property="syyy1" />
    <result column="pyyy1" jdbcType="VARCHAR" property="pyyy1" />
    <result column="yyyxd1" jdbcType="VARCHAR" property="yyyxd1" />
    <result column="led11" jdbcType="VARCHAR" property="led11" />
    <result column="led12" jdbcType="VARCHAR" property="led12" />
    <result column="led13" jdbcType="VARCHAR" property="led13" />
    <result column="wd2" jdbcType="VARCHAR" property="wd2" />
    <result column="kqxh2" jdbcType="VARCHAR" property="kqxh2" />
    <result column="kqxd2" jdbcType="VARCHAR" property="kqxd2" />
    <result column="hxf2" jdbcType="VARCHAR" property="hxf2" />
    <result column="syyy2" jdbcType="VARCHAR" property="syyy2" />
    <result column="pyyy2" jdbcType="VARCHAR" property="pyyy2" />
    <result column="yyyxd2" jdbcType="VARCHAR" property="yyyxd2" />
    <result column="led21" jdbcType="VARCHAR" property="led21" />
    <result column="led22" jdbcType="VARCHAR" property="led22" />
    <result column="led23" jdbcType="VARCHAR" property="led23" />
    <result column="wd3" jdbcType="VARCHAR" property="wd3" />
    <result column="kqxh3" jdbcType="VARCHAR" property="kqxh3" />
    <result column="kqxd3" jdbcType="VARCHAR" property="kqxd3" />
    <result column="hxf3" jdbcType="VARCHAR" property="hxf3" />
    <result column="syyy3" jdbcType="VARCHAR" property="syyy3" />
    <result column="pyyy3" jdbcType="VARCHAR" property="pyyy3" />
    <result column="yyyxd3" jdbcType="VARCHAR" property="yyyxd3" />
    <result column="led31" jdbcType="VARCHAR" property="led31" />
    <result column="led32" jdbcType="VARCHAR" property="led32" />
    <result column="led33" jdbcType="VARCHAR" property="led33" />
    <result column="ymbg" jdbcType="VARCHAR" property="ymbg" />
    <result column="mpjs" jdbcType="VARCHAR" property="mpjs" />
    <result column="bs" jdbcType="VARCHAR" property="bs" />
    <result column="ps" jdbcType="VARCHAR" property="ps" />
    <result column="batch_id" jdbcType="BIGINT" property="batchId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    hand_control_id, head_control_mod, wd1, kqxh1, kqxd1, hxf1, syyy1, pyyy1, yyyxd1, 
    led11, led12, led13, wd2, kqxh2, kqxd2, hxf2, syyy2, pyyy2, yyyxd2, led21, led22, 
    led23, wd3, kqxh3, kqxd3, hxf3, syyy3, pyyy3, yyyxd3, led31, led32, led33, ymbg, 
    mpjs, bs, ps, batch_id, status, gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.vastsum.entity.HandControlExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hand_control
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hand_control
    where hand_control_id = #{handControlId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hand_control
    where hand_control_id = #{handControlId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.vastsum.entity.HandControlExample">
    delete from hand_control
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vastsum.entity.HandControl">
    insert into hand_control (hand_control_id, head_control_mod, wd1, 
      kqxh1, kqxd1, hxf1, 
      syyy1, pyyy1, yyyxd1, 
      led11, led12, led13, 
      wd2, kqxh2, kqxd2, 
      hxf2, syyy2, pyyy2, 
      yyyxd2, led21, led22, 
      led23, wd3, kqxh3, 
      kqxd3, hxf3, syyy3, 
      pyyy3, yyyxd3, led31, 
      led32, led33, ymbg, 
      mpjs, bs, ps, batch_id, 
      status, gmt_create, gmt_modified
      )
    values (#{handControlId,jdbcType=BIGINT}, #{headControlMod,jdbcType=VARCHAR}, #{wd1,jdbcType=VARCHAR}, 
      #{kqxh1,jdbcType=VARCHAR}, #{kqxd1,jdbcType=VARCHAR}, #{hxf1,jdbcType=VARCHAR}, 
      #{syyy1,jdbcType=VARCHAR}, #{pyyy1,jdbcType=VARCHAR}, #{yyyxd1,jdbcType=VARCHAR}, 
      #{led11,jdbcType=VARCHAR}, #{led12,jdbcType=VARCHAR}, #{led13,jdbcType=VARCHAR}, 
      #{wd2,jdbcType=VARCHAR}, #{kqxh2,jdbcType=VARCHAR}, #{kqxd2,jdbcType=VARCHAR}, 
      #{hxf2,jdbcType=VARCHAR}, #{syyy2,jdbcType=VARCHAR}, #{pyyy2,jdbcType=VARCHAR}, 
      #{yyyxd2,jdbcType=VARCHAR}, #{led21,jdbcType=VARCHAR}, #{led22,jdbcType=VARCHAR}, 
      #{led23,jdbcType=VARCHAR}, #{wd3,jdbcType=VARCHAR}, #{kqxh3,jdbcType=VARCHAR}, 
      #{kqxd3,jdbcType=VARCHAR}, #{hxf3,jdbcType=VARCHAR}, #{syyy3,jdbcType=VARCHAR}, 
      #{pyyy3,jdbcType=VARCHAR}, #{yyyxd3,jdbcType=VARCHAR}, #{led31,jdbcType=VARCHAR}, 
      #{led32,jdbcType=VARCHAR}, #{led33,jdbcType=VARCHAR}, #{ymbg,jdbcType=VARCHAR}, 
      #{mpjs,jdbcType=VARCHAR}, #{bs,jdbcType=VARCHAR}, #{ps,jdbcType=VARCHAR}, #{batchId,jdbcType=BIGINT}, 
      #{status,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vastsum.entity.HandControl">
    insert into hand_control
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="handControlId != null">
        hand_control_id,
      </if>
      <if test="headControlMod != null">
        head_control_mod,
      </if>
      <if test="wd1 != null">
        wd1,
      </if>
      <if test="kqxh1 != null">
        kqxh1,
      </if>
      <if test="kqxd1 != null">
        kqxd1,
      </if>
      <if test="hxf1 != null">
        hxf1,
      </if>
      <if test="syyy1 != null">
        syyy1,
      </if>
      <if test="pyyy1 != null">
        pyyy1,
      </if>
      <if test="yyyxd1 != null">
        yyyxd1,
      </if>
      <if test="led11 != null">
        led11,
      </if>
      <if test="led12 != null">
        led12,
      </if>
      <if test="led13 != null">
        led13,
      </if>
      <if test="wd2 != null">
        wd2,
      </if>
      <if test="kqxh2 != null">
        kqxh2,
      </if>
      <if test="kqxd2 != null">
        kqxd2,
      </if>
      <if test="hxf2 != null">
        hxf2,
      </if>
      <if test="syyy2 != null">
        syyy2,
      </if>
      <if test="pyyy2 != null">
        pyyy2,
      </if>
      <if test="yyyxd2 != null">
        yyyxd2,
      </if>
      <if test="led21 != null">
        led21,
      </if>
      <if test="led22 != null">
        led22,
      </if>
      <if test="led23 != null">
        led23,
      </if>
      <if test="wd3 != null">
        wd3,
      </if>
      <if test="kqxh3 != null">
        kqxh3,
      </if>
      <if test="kqxd3 != null">
        kqxd3,
      </if>
      <if test="hxf3 != null">
        hxf3,
      </if>
      <if test="syyy3 != null">
        syyy3,
      </if>
      <if test="pyyy3 != null">
        pyyy3,
      </if>
      <if test="yyyxd3 != null">
        yyyxd3,
      </if>
      <if test="led31 != null">
        led31,
      </if>
      <if test="led32 != null">
        led32,
      </if>
      <if test="led33 != null">
        led33,
      </if>
      <if test="ymbg != null">
        ymbg,
      </if>
      <if test="mpjs != null">
        mpjs,
      </if>
      <if test="bs != null">
        bs,
      </if>
      <if test="ps != null">
        ps,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="handControlId != null">
        #{handControlId,jdbcType=BIGINT},
      </if>
      <if test="headControlMod != null">
        #{headControlMod,jdbcType=VARCHAR},
      </if>
      <if test="wd1 != null">
        #{wd1,jdbcType=VARCHAR},
      </if>
      <if test="kqxh1 != null">
        #{kqxh1,jdbcType=VARCHAR},
      </if>
      <if test="kqxd1 != null">
        #{kqxd1,jdbcType=VARCHAR},
      </if>
      <if test="hxf1 != null">
        #{hxf1,jdbcType=VARCHAR},
      </if>
      <if test="syyy1 != null">
        #{syyy1,jdbcType=VARCHAR},
      </if>
      <if test="pyyy1 != null">
        #{pyyy1,jdbcType=VARCHAR},
      </if>
      <if test="yyyxd1 != null">
        #{yyyxd1,jdbcType=VARCHAR},
      </if>
      <if test="led11 != null">
        #{led11,jdbcType=VARCHAR},
      </if>
      <if test="led12 != null">
        #{led12,jdbcType=VARCHAR},
      </if>
      <if test="led13 != null">
        #{led13,jdbcType=VARCHAR},
      </if>
      <if test="wd2 != null">
        #{wd2,jdbcType=VARCHAR},
      </if>
      <if test="kqxh2 != null">
        #{kqxh2,jdbcType=VARCHAR},
      </if>
      <if test="kqxd2 != null">
        #{kqxd2,jdbcType=VARCHAR},
      </if>
      <if test="hxf2 != null">
        #{hxf2,jdbcType=VARCHAR},
      </if>
      <if test="syyy2 != null">
        #{syyy2,jdbcType=VARCHAR},
      </if>
      <if test="pyyy2 != null">
        #{pyyy2,jdbcType=VARCHAR},
      </if>
      <if test="yyyxd2 != null">
        #{yyyxd2,jdbcType=VARCHAR},
      </if>
      <if test="led21 != null">
        #{led21,jdbcType=VARCHAR},
      </if>
      <if test="led22 != null">
        #{led22,jdbcType=VARCHAR},
      </if>
      <if test="led23 != null">
        #{led23,jdbcType=VARCHAR},
      </if>
      <if test="wd3 != null">
        #{wd3,jdbcType=VARCHAR},
      </if>
      <if test="kqxh3 != null">
        #{kqxh3,jdbcType=VARCHAR},
      </if>
      <if test="kqxd3 != null">
        #{kqxd3,jdbcType=VARCHAR},
      </if>
      <if test="hxf3 != null">
        #{hxf3,jdbcType=VARCHAR},
      </if>
      <if test="syyy3 != null">
        #{syyy3,jdbcType=VARCHAR},
      </if>
      <if test="pyyy3 != null">
        #{pyyy3,jdbcType=VARCHAR},
      </if>
      <if test="yyyxd3 != null">
        #{yyyxd3,jdbcType=VARCHAR},
      </if>
      <if test="led31 != null">
        #{led31,jdbcType=VARCHAR},
      </if>
      <if test="led32 != null">
        #{led32,jdbcType=VARCHAR},
      </if>
      <if test="led33 != null">
        #{led33,jdbcType=VARCHAR},
      </if>
      <if test="ymbg != null">
        #{ymbg,jdbcType=VARCHAR},
      </if>
      <if test="mpjs != null">
        #{mpjs,jdbcType=VARCHAR},
      </if>
      <if test="bs != null">
        #{bs,jdbcType=VARCHAR},
      </if>
      <if test="ps != null">
        #{ps,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vastsum.entity.HandControlExample" resultType="java.lang.Long">
    select count(*) from hand_control
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hand_control
    <set>
      <if test="record.handControlId != null">
        hand_control_id = #{record.handControlId,jdbcType=BIGINT},
      </if>
      <if test="record.headControlMod != null">
        head_control_mod = #{record.headControlMod,jdbcType=VARCHAR},
      </if>
      <if test="record.wd1 != null">
        wd1 = #{record.wd1,jdbcType=VARCHAR},
      </if>
      <if test="record.kqxh1 != null">
        kqxh1 = #{record.kqxh1,jdbcType=VARCHAR},
      </if>
      <if test="record.kqxd1 != null">
        kqxd1 = #{record.kqxd1,jdbcType=VARCHAR},
      </if>
      <if test="record.hxf1 != null">
        hxf1 = #{record.hxf1,jdbcType=VARCHAR},
      </if>
      <if test="record.syyy1 != null">
        syyy1 = #{record.syyy1,jdbcType=VARCHAR},
      </if>
      <if test="record.pyyy1 != null">
        pyyy1 = #{record.pyyy1,jdbcType=VARCHAR},
      </if>
      <if test="record.yyyxd1 != null">
        yyyxd1 = #{record.yyyxd1,jdbcType=VARCHAR},
      </if>
      <if test="record.led11 != null">
        led11 = #{record.led11,jdbcType=VARCHAR},
      </if>
      <if test="record.led12 != null">
        led12 = #{record.led12,jdbcType=VARCHAR},
      </if>
      <if test="record.led13 != null">
        led13 = #{record.led13,jdbcType=VARCHAR},
      </if>
      <if test="record.wd2 != null">
        wd2 = #{record.wd2,jdbcType=VARCHAR},
      </if>
      <if test="record.kqxh2 != null">
        kqxh2 = #{record.kqxh2,jdbcType=VARCHAR},
      </if>
      <if test="record.kqxd2 != null">
        kqxd2 = #{record.kqxd2,jdbcType=VARCHAR},
      </if>
      <if test="record.hxf2 != null">
        hxf2 = #{record.hxf2,jdbcType=VARCHAR},
      </if>
      <if test="record.syyy2 != null">
        syyy2 = #{record.syyy2,jdbcType=VARCHAR},
      </if>
      <if test="record.pyyy2 != null">
        pyyy2 = #{record.pyyy2,jdbcType=VARCHAR},
      </if>
      <if test="record.yyyxd2 != null">
        yyyxd2 = #{record.yyyxd2,jdbcType=VARCHAR},
      </if>
      <if test="record.led21 != null">
        led21 = #{record.led21,jdbcType=VARCHAR},
      </if>
      <if test="record.led22 != null">
        led22 = #{record.led22,jdbcType=VARCHAR},
      </if>
      <if test="record.led23 != null">
        led23 = #{record.led23,jdbcType=VARCHAR},
      </if>
      <if test="record.wd3 != null">
        wd3 = #{record.wd3,jdbcType=VARCHAR},
      </if>
      <if test="record.kqxh3 != null">
        kqxh3 = #{record.kqxh3,jdbcType=VARCHAR},
      </if>
      <if test="record.kqxd3 != null">
        kqxd3 = #{record.kqxd3,jdbcType=VARCHAR},
      </if>
      <if test="record.hxf3 != null">
        hxf3 = #{record.hxf3,jdbcType=VARCHAR},
      </if>
      <if test="record.syyy3 != null">
        syyy3 = #{record.syyy3,jdbcType=VARCHAR},
      </if>
      <if test="record.pyyy3 != null">
        pyyy3 = #{record.pyyy3,jdbcType=VARCHAR},
      </if>
      <if test="record.yyyxd3 != null">
        yyyxd3 = #{record.yyyxd3,jdbcType=VARCHAR},
      </if>
      <if test="record.led31 != null">
        led31 = #{record.led31,jdbcType=VARCHAR},
      </if>
      <if test="record.led32 != null">
        led32 = #{record.led32,jdbcType=VARCHAR},
      </if>
      <if test="record.led33 != null">
        led33 = #{record.led33,jdbcType=VARCHAR},
      </if>
      <if test="record.ymbg != null">
        ymbg = #{record.ymbg,jdbcType=VARCHAR},
      </if>
      <if test="record.mpjs != null">
        mpjs = #{record.mpjs,jdbcType=VARCHAR},
      </if>
      <if test="record.bs != null">
        bs = #{record.bs,jdbcType=VARCHAR},
      </if>
      <if test="record.ps != null">
        ps = #{record.ps,jdbcType=VARCHAR},
      </if>
      <if test="record.batchId != null">
        batch_id = #{record.batchId,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hand_control
    set hand_control_id = #{record.handControlId,jdbcType=BIGINT},
      head_control_mod = #{record.headControlMod,jdbcType=VARCHAR},
      wd1 = #{record.wd1,jdbcType=VARCHAR},
      kqxh1 = #{record.kqxh1,jdbcType=VARCHAR},
      kqxd1 = #{record.kqxd1,jdbcType=VARCHAR},
      hxf1 = #{record.hxf1,jdbcType=VARCHAR},
      syyy1 = #{record.syyy1,jdbcType=VARCHAR},
      pyyy1 = #{record.pyyy1,jdbcType=VARCHAR},
      yyyxd1 = #{record.yyyxd1,jdbcType=VARCHAR},
      led11 = #{record.led11,jdbcType=VARCHAR},
      led12 = #{record.led12,jdbcType=VARCHAR},
      led13 = #{record.led13,jdbcType=VARCHAR},
      wd2 = #{record.wd2,jdbcType=VARCHAR},
      kqxh2 = #{record.kqxh2,jdbcType=VARCHAR},
      kqxd2 = #{record.kqxd2,jdbcType=VARCHAR},
      hxf2 = #{record.hxf2,jdbcType=VARCHAR},
      syyy2 = #{record.syyy2,jdbcType=VARCHAR},
      pyyy2 = #{record.pyyy2,jdbcType=VARCHAR},
      yyyxd2 = #{record.yyyxd2,jdbcType=VARCHAR},
      led21 = #{record.led21,jdbcType=VARCHAR},
      led22 = #{record.led22,jdbcType=VARCHAR},
      led23 = #{record.led23,jdbcType=VARCHAR},
      wd3 = #{record.wd3,jdbcType=VARCHAR},
      kqxh3 = #{record.kqxh3,jdbcType=VARCHAR},
      kqxd3 = #{record.kqxd3,jdbcType=VARCHAR},
      hxf3 = #{record.hxf3,jdbcType=VARCHAR},
      syyy3 = #{record.syyy3,jdbcType=VARCHAR},
      pyyy3 = #{record.pyyy3,jdbcType=VARCHAR},
      yyyxd3 = #{record.yyyxd3,jdbcType=VARCHAR},
      led31 = #{record.led31,jdbcType=VARCHAR},
      led32 = #{record.led32,jdbcType=VARCHAR},
      led33 = #{record.led33,jdbcType=VARCHAR},
      ymbg = #{record.ymbg,jdbcType=VARCHAR},
      mpjs = #{record.mpjs,jdbcType=VARCHAR},
      bs = #{record.bs,jdbcType=VARCHAR},
      ps = #{record.ps,jdbcType=VARCHAR},
      batch_id = #{record.batchId,jdbcType=BIGINT},
      status = #{record.status,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vastsum.entity.HandControl">
    update hand_control
    <set>
      <if test="headControlMod != null">
        head_control_mod = #{headControlMod,jdbcType=VARCHAR},
      </if>
      <if test="wd1 != null">
        wd1 = #{wd1,jdbcType=VARCHAR},
      </if>
      <if test="kqxh1 != null">
        kqxh1 = #{kqxh1,jdbcType=VARCHAR},
      </if>
      <if test="kqxd1 != null">
        kqxd1 = #{kqxd1,jdbcType=VARCHAR},
      </if>
      <if test="hxf1 != null">
        hxf1 = #{hxf1,jdbcType=VARCHAR},
      </if>
      <if test="syyy1 != null">
        syyy1 = #{syyy1,jdbcType=VARCHAR},
      </if>
      <if test="pyyy1 != null">
        pyyy1 = #{pyyy1,jdbcType=VARCHAR},
      </if>
      <if test="yyyxd1 != null">
        yyyxd1 = #{yyyxd1,jdbcType=VARCHAR},
      </if>
      <if test="led11 != null">
        led11 = #{led11,jdbcType=VARCHAR},
      </if>
      <if test="led12 != null">
        led12 = #{led12,jdbcType=VARCHAR},
      </if>
      <if test="led13 != null">
        led13 = #{led13,jdbcType=VARCHAR},
      </if>
      <if test="wd2 != null">
        wd2 = #{wd2,jdbcType=VARCHAR},
      </if>
      <if test="kqxh2 != null">
        kqxh2 = #{kqxh2,jdbcType=VARCHAR},
      </if>
      <if test="kqxd2 != null">
        kqxd2 = #{kqxd2,jdbcType=VARCHAR},
      </if>
      <if test="hxf2 != null">
        hxf2 = #{hxf2,jdbcType=VARCHAR},
      </if>
      <if test="syyy2 != null">
        syyy2 = #{syyy2,jdbcType=VARCHAR},
      </if>
      <if test="pyyy2 != null">
        pyyy2 = #{pyyy2,jdbcType=VARCHAR},
      </if>
      <if test="yyyxd2 != null">
        yyyxd2 = #{yyyxd2,jdbcType=VARCHAR},
      </if>
      <if test="led21 != null">
        led21 = #{led21,jdbcType=VARCHAR},
      </if>
      <if test="led22 != null">
        led22 = #{led22,jdbcType=VARCHAR},
      </if>
      <if test="led23 != null">
        led23 = #{led23,jdbcType=VARCHAR},
      </if>
      <if test="wd3 != null">
        wd3 = #{wd3,jdbcType=VARCHAR},
      </if>
      <if test="kqxh3 != null">
        kqxh3 = #{kqxh3,jdbcType=VARCHAR},
      </if>
      <if test="kqxd3 != null">
        kqxd3 = #{kqxd3,jdbcType=VARCHAR},
      </if>
      <if test="hxf3 != null">
        hxf3 = #{hxf3,jdbcType=VARCHAR},
      </if>
      <if test="syyy3 != null">
        syyy3 = #{syyy3,jdbcType=VARCHAR},
      </if>
      <if test="pyyy3 != null">
        pyyy3 = #{pyyy3,jdbcType=VARCHAR},
      </if>
      <if test="yyyxd3 != null">
        yyyxd3 = #{yyyxd3,jdbcType=VARCHAR},
      </if>
      <if test="led31 != null">
        led31 = #{led31,jdbcType=VARCHAR},
      </if>
      <if test="led32 != null">
        led32 = #{led32,jdbcType=VARCHAR},
      </if>
      <if test="led33 != null">
        led33 = #{led33,jdbcType=VARCHAR},
      </if>
      <if test="ymbg != null">
        ymbg = #{ymbg,jdbcType=VARCHAR},
      </if>
      <if test="mpjs != null">
        mpjs = #{mpjs,jdbcType=VARCHAR},
      </if>
      <if test="bs != null">
        bs = #{bs,jdbcType=VARCHAR},
      </if>
      <if test="ps != null">
        ps = #{ps,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where hand_control_id = #{handControlId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vastsum.entity.HandControl">
    update hand_control
    set head_control_mod = #{headControlMod,jdbcType=VARCHAR},
      wd1 = #{wd1,jdbcType=VARCHAR},
      kqxh1 = #{kqxh1,jdbcType=VARCHAR},
      kqxd1 = #{kqxd1,jdbcType=VARCHAR},
      hxf1 = #{hxf1,jdbcType=VARCHAR},
      syyy1 = #{syyy1,jdbcType=VARCHAR},
      pyyy1 = #{pyyy1,jdbcType=VARCHAR},
      yyyxd1 = #{yyyxd1,jdbcType=VARCHAR},
      led11 = #{led11,jdbcType=VARCHAR},
      led12 = #{led12,jdbcType=VARCHAR},
      led13 = #{led13,jdbcType=VARCHAR},
      wd2 = #{wd2,jdbcType=VARCHAR},
      kqxh2 = #{kqxh2,jdbcType=VARCHAR},
      kqxd2 = #{kqxd2,jdbcType=VARCHAR},
      hxf2 = #{hxf2,jdbcType=VARCHAR},
      syyy2 = #{syyy2,jdbcType=VARCHAR},
      pyyy2 = #{pyyy2,jdbcType=VARCHAR},
      yyyxd2 = #{yyyxd2,jdbcType=VARCHAR},
      led21 = #{led21,jdbcType=VARCHAR},
      led22 = #{led22,jdbcType=VARCHAR},
      led23 = #{led23,jdbcType=VARCHAR},
      wd3 = #{wd3,jdbcType=VARCHAR},
      kqxh3 = #{kqxh3,jdbcType=VARCHAR},
      kqxd3 = #{kqxd3,jdbcType=VARCHAR},
      hxf3 = #{hxf3,jdbcType=VARCHAR},
      syyy3 = #{syyy3,jdbcType=VARCHAR},
      pyyy3 = #{pyyy3,jdbcType=VARCHAR},
      yyyxd3 = #{yyyxd3,jdbcType=VARCHAR},
      led31 = #{led31,jdbcType=VARCHAR},
      led32 = #{led32,jdbcType=VARCHAR},
      led33 = #{led33,jdbcType=VARCHAR},
      ymbg = #{ymbg,jdbcType=VARCHAR},
      mpjs = #{mpjs,jdbcType=VARCHAR},
      bs = #{bs,jdbcType=VARCHAR},
      ps = #{ps,jdbcType=VARCHAR},
      batch_id = #{batchId,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where hand_control_id = #{handControlId,jdbcType=BIGINT}
  </update>
</mapper>